<phpunit colors="true" bootstrap="tests/autoload.php">
    <!-- <testsuite name="My Application Tests"> -->
        <!-- <directory>tests/</directory> -->
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="patient">
            <directory>tests/patient</directory>
        </testsuite>
    </testsuites>
    <!-- </testsuite> -->
</phpunit>